---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit?client_id=01458965b24228940d05&client_secret=4a998f0f360c2ae65644f001dda4aa5b9e9c2cd6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1402266096'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"resources":{"core":{"limit":5000,"remaining":4999,"reset":1402266096},"search":{"limit":30,"remaining":30,"reset":1402265678}},"rate":{"limit":5000,"remaining":4999,"reset":1402266096}}'
  recorded_at: Sun, 08 Jun 2014 22:13:38 GMT
- request:
    method: get
    uri: https://api.github.com/rate_limit?client_id=239033c633c34e2f714a&client_secret=e797e7290ad5be1840184be2bc4f7a2769abd2fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1403725888'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"resources":{"core":{"limit":5000,"remaining":4996,"reset":1403725888},"search":{"limit":30,"remaining":30,"reset":1403722349}},"rate":{"limit":5000,"remaining":4996,"reset":1403725888}}'
  recorded_at: Wed, 25 Jun 2014 18:51:29 GMT
recorded_with: VCR 2.9.2
