<p>Enter the name of a GitHub repo and repo owner below to generate a map of the locations of its contributors.</p>

<form action="/form" method="post">  
  Repo name: <input type="text" name="Enter repo name"><br>  
  Repo owner's GitHub username: <input type="text" name="Enter repo owner's GitHub username">  
  <input type="submit">  

</form>  
