<html>
  <head>
    <script src='http://www.google.com/jsapi'></script> 
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>

    <p>Enter the name of a GitHub repo and repo owner below to generate a map of the locations of its contributors.
    </p>

<form action="/" method="post">  
  Repo name: <input type="text" name="repo"><br>  
  Repo owner's GitHub username: <input type="text" name="owner">  
  <input type="submit">
  </form>  
