---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit?client_id=01458965b24228940d05&client_secret=4a998f0f360c2ae65644f001dda4aa5b9e9c2cd6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1402252168'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"resources":{"core":{"limit":5000,"remaining":4999,"reset":1402252168},"search":{"limit":30,"remaining":30,"reset":1402249378}},"rate":{"limit":5000,"remaining":4999,"reset":1402252168}}'
  recorded_at: Sun, 08 Jun 2014 17:41:58 GMT
recorded_with: VCR 2.9.2
