%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:repositories, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:repositories, :new)

.tabs-content
  -form_for :repository, url(:repositories, :create), :class => 'form-horizontal' do |f|
    =partial 'repositories/form', :locals => { :f => f }
