<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style_form.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <a href="https://github.com/JohnKellyFerguson/octomaps"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

    <header>
    <h1>octomaps</h1>
    <h3>http://www.octomaps.com</h3></header>

    <div class = transbox>
      <h2>Welcome to Octomaps,<br>the GitHub Repository Mapper!</h2>
      <div id = "query">
        <p>Please enter the name of a GitHub repository and the repository
        owner to generate a map of the locations of its contributors.</p>
      </div>
<!-- This post method indicated in the form, we are using it to get information from user  -->
      <div id = "query-form">
        <form action="/" method="post">  
        Repository Owner:<br> <input type="text" name="owner"><br>
        Repository Name:<br> <input type="text" name="repo"><br>
        <input type="submit" value="Submit" id="submit">
        </form>
      </div>
    </div>

  </body>
 </html>
