/*Reset brower specfic CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Start Form CSS*/
body {
  background-image:url('../images/octomaps-cats-logoless.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-color: rgba(0,0,0, .3);
  font-size: 1em;
  line-height: 1.5em;
  font-weight:300px;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

h1 {
  font-size: 5em;
  color: #F2F2F2;
  line-height: 1em;
  background: rgba(64, 64, 64, 0.90);
  text-align: left;
  font-family: 'Cutive Mono';
  padding-left: .3em;
}

h3 {
  font-size: 2em;
  color: #F2F2F2;
  line-height: 1em;;
  background: rgba(64, 64, 64, 0.90);
  text-align: left;
  font-family: 'Cutive Mono', sans-serif;
  padding-left: 1em;
}

h2 {
  font-size: 2em;
  line-height: 1em;
  position: relative;
  margin-bottom: 5px;
}

#query {
  line-height: 1.2em;
  position: relative;
}

#query-form {
  line-height: 2em;
  position: relative;
  text-align: center;
}

#submit {
    background-color: #C43512;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #F2F2F2;
    font-size: 1em;
    width: 155px;
    position: relative;
    margin-top: 1em;
}

div.transbox {
  padding:30px;
  width:400px;
  margin:80px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  border:1px solid black;
  postion: relative;
  display: inline-block;
  vertical-align: center;
  }

div.transbox p {
  margin:30px 40px;
  font-weight:bold;
  color:#000000;
  }

img {
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
  }  

span {
  font-weight: bold;
  color: #C43512;
  font-size: 2em;
  line-height: 2em;
}

footer {
  font-size:.8em;
  line-height:1em;
}