

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  background-image:url('octomaps-cats.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-color: rgba(0,0,0, .4);
  font-size: 1em;
  line-height: 1.5em;
  font-weight:300px;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

h1 {
  font-size: 2em;
/*  margin-top: 7em;*/
  line-height: 1em;
  position: relative;
}

#query {
/*  padding-top: 1em;*/
  line-height: 1.2em;
  position: relative;
}

#submit {
    background-color: #C43512;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #F2F2F2;
    font-size: 1em;
/*    margin-top: 1em;
    padding: 2px;*/
    width: 155px;
    position: relative;
}


div.transbox {
  padding:30px;
  width:400px;
  /*height:180px;*/
  margin:200px;
  background-color:#ffffff;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  postion: relative;
  display: inline-block;
  vertical-align: center;
  position: relative;
  }
/*div.transbox {
    background-color: #FFFFFF;
    border: 1px solid black;
    display: inline-block;
    margin: 0;
    opacity: 0.7;
    padding: 30px;
    position: relative;
    top: 70px;
    width: 400px;
}*/
div.transbox p
  {
  margin:30px 40px;
  font-weight:bold;
  color:#000000;
  }