%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:users, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:users, :new)

.tabs-content
  -form_for :user, url(:users, :create), :class => 'form-horizontal' do |f|
    =partial 'users/form', :locals => { :f => f }
