%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:cities, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:cities, :new)

.tabs-content
  -form_for :city, url(:cities, :create), :class => 'form-horizontal' do |f|
    =partial 'cities/form', :locals => { :f => f }
