<html>
  <head>
    <meta charset="utf-8" />
    <link href="style_form.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
    <title>Octomaps</title>
  </head>
  <body>

    <a href="https://github.com/JohnKellyFerguson/octomaps"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <header>
      <h1>octomaps</h1>
      <h3>http://www.octomaps.com</h3>
    </header>
    <div class = transbox>
      <h2>Welcome to Octomaps,<br>the GitHub Repository Mapper!</h2>
      <div id = "query">
        <p>Please enter the name of a GitHub repository and the repository
           owner to generate a map of the locations of its contributors.</p>
      </div>
      <div id = "query-form">
        <form action="/map" method="get">  
        Repository Owner:<br> <input type="text" name="owner"><br>
        Repository Name:<br> <input type="text" name="repo"><br>
        <input type="submit" value="Map by City*" id="submit" name ="submit1">
        <input type="submit" value="Map by Country" id="submit" name ="submit2">
        </form>
        <footer>* Please note that this option maps contributors by the location they have specified on their GitHub account, which is not standardized.</footer>
      </div>
    </div>

  </body>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38965200-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
 </html>
