- error = @contribution.errors.include?(:user_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :user_id, :class => 'control-label'
  .controls
    =f.text_field :user_id, :class => 'input-xlarge input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:user_id, :class => 'text-error') : pat(:example)
- error = @contribution.errors.include?(:repository_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :repository_id, :class => 'control-label'
  .controls
    =f.text_field :repository_id, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:repository_id, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:contributions, :index), :class => 'btn'
