%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:contributions, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:contributions, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:contributions, :edit, :id => @contribution.id)

.tabs-content
  -form_for :contribution, url(:contributions, :update, :id => @contribution.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'contributions/form', :locals => { :f => f }
