%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:locations, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:locations, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:locations, :edit, :id => @location.id)

.tabs-content
  -form_for :location, url(:locations, :update, :id => @location.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'locations/form', :locals => { :f => f }
