%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:locations, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:locations, :new)

.tabs-content
  -form_for :location, url(:locations, :create), :class => 'form-horizontal' do |f|
    =partial 'locations/form', :locals => { :f => f }
