- form_tag '/map', :method => 'get' do
  Repository Owner:
  %br
  = text_field_tag :owner, value: params[:owner]
  %br
  Repository Name:
  %br
  = text_field_tag :repo, value: params[:repo]
  %br
  = submit_tag "Map by Country", :class => "submit", name: "country"
  = submit_tag "Map by City*", :class => "submit", name: "city"