%html
  %head
    %meta{:charset => "utf-8"}/
    %link{:href => "stylesheets/home.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Cutive+Mono", :rel => "stylesheet", :type => "text/css"}/
    %title Octomaps
  %body
    %a{:href => "https://github.com/JohnKellyFerguson/octomaps"}
      %img{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"}/
    %header
      %h1 octomaps
      %h3 http://www.octomaps.com
    .transbox
      %h2
        Welcome to Octomaps,
        %br>/
        the GitHub Repository Mapper!
      #query
        %p
          %span No results found.
          = succeed "Please" do
            %br/
          enter the name of a GitHub repository and the repository
          owner to generate a map of the locations of its contributors.
      #query-form
        %form{:action => "/map", :method => "get"}
          Repository Owner:
          %br/
          %input{:name => "owner", :type => "text"}/
          %br/
          Repository Name:
          %br/
          %input{:name => "repo", :type => "text"}/
          %br/
          %input#submit{:name => "submit1", :type => "submit", :value => "Map by City*"}/
          %input#submit{:name => "submit2", :type => "submit", :value => "Map by Country"}/
        %footer * Please note that this option maps contributors by the location they have specified on their GitHub account, which is not standardized.
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38965200-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();