- @title = "Octomaps"
%body.home
  %a{:href => "https://github.com/JohnKellyFerguson/octomaps"}
    %img{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"}/
  %header
    %h1 octomaps
    %h3 http://www.octomaps.com
  .transbox
    %h2
      Welcome to Octomaps,
      %br>/
      the GitHub Repository Mapper!
    #query
      %p
        %span No results found.
        = succeed "Please" do
          %br/
        enter the name of a GitHub repository and the repository
        owner to generate a map of the locations of its contributors.
    #query-form
      = partial 'public/form'
      %footer * Please note that this option maps contributors by the location they have specified on their GitHub account, which is not standardized.