---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/JohnKellyFerguson/octomaps?client_id=01458965b24228940d05&client_secret=4a998f0f360c2ae65644f001dda4aa5b9e9c2cd6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1402262202'
      Last-Modified:
      - Sat, 15 Mar 2014 20:17:22 GMT
      Etag:
      - '"c24b4177846106566aac8c2a92f70d60"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":8365639,"name":"octomaps","full_name":"JohnKellyFerguson/octomaps","owner":{"login":"JohnKellyFerguson","id":2823694,"avatar_url":"https://avatars.githubusercontent.com/u/2823694?","gravatar_id":"b58b357a352eda178941fd2dfd5c6d5d","url":"https://api.github.com/users/JohnKellyFerguson","html_url":"https://github.com/JohnKellyFerguson","followers_url":"https://api.github.com/users/JohnKellyFerguson/followers","following_url":"https://api.github.com/users/JohnKellyFerguson/following{/other_user}","gists_url":"https://api.github.com/users/JohnKellyFerguson/gists{/gist_id}","starred_url":"https://api.github.com/users/JohnKellyFerguson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JohnKellyFerguson/subscriptions","organizations_url":"https://api.github.com/users/JohnKellyFerguson/orgs","repos_url":"https://api.github.com/users/JohnKellyFerguson/repos","events_url":"https://api.github.com/users/JohnKellyFerguson/events{/privacy}","received_events_url":"https://api.github.com/users/JohnKellyFerguson/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/JohnKellyFerguson/octomaps","description":"Octomaps
        displays all contributors to an open-source project on a map based upon the
        contributor''s location.","fork":false,"url":"https://api.github.com/repos/JohnKellyFerguson/octomaps","forks_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/forks","keys_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/keys{/key_id}","collaborators_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/teams","hooks_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/hooks","issue_events_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/issues/events{/number}","events_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/events","assignees_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/assignees{/user}","branches_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/branches{/branch}","tags_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/tags","blobs_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/git/refs{/sha}","trees_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/git/trees{/sha}","statuses_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/statuses/{sha}","languages_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/languages","stargazers_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/stargazers","contributors_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/contributors","subscribers_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/subscribers","subscription_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/subscription","commits_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/commits{/sha}","git_commits_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/git/commits{/sha}","comments_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/comments{/number}","issue_comment_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/issues/comments/{number}","contents_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/contents/{+path}","compare_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/compare/{base}...{head}","merges_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/merges","archive_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/downloads","issues_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/issues{/number}","pulls_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/pulls{/number}","milestones_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/milestones{/number}","notifications_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/labels{/name}","releases_url":"https://api.github.com/repos/JohnKellyFerguson/octomaps/releases{/id}","created_at":"2013-02-22T20:50:57Z","updated_at":"2014-03-15T20:17:22Z","pushed_at":"2014-03-15T20:17:22Z","git_url":"git://github.com/JohnKellyFerguson/octomaps.git","ssh_url":"git@github.com:JohnKellyFerguson/octomaps.git","clone_url":"https://github.com/JohnKellyFerguson/octomaps.git","svn_url":"https://github.com/JohnKellyFerguson/octomaps","homepage":"http://octomaps.com/","size":2327,"stargazers_count":13,"watchers_count":13,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":3,"mirror_url":null,"open_issues_count":7,"forks":3,"open_issues":7,"watchers":13,"default_branch":"master","network_count":3,"subscribers_count":6}'
  recorded_at: Sun, 08 Jun 2014 20:58:55 GMT
- request:
    method: get
    uri: https://api.github.com/repos/JohnKellyFerguson/octomaps/contributors?client_id=01458965b24228940d05&client_secret=4a998f0f360c2ae65644f001dda4aa5b9e9c2cd6&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
  [...]
